/* config.scss */

$body---bg--primary: #696969;

$header--bg: #313131;
$header--col: #ffffff;

$colour---primary: #ffffff;
$colour---secondary: #b5f37e;
$colour---bold: #38cb20;

$section---bg--primary: #696969;
$section---col--primary: #ffffff;
$section---col--primary-hover: #e5e5e5;

$article---bg--primary: #606060;
$article---bg--primary-hover: #515151;

$article---bg--secondary: #5e5c5c;
$article---col--secondary: #ffffff;

$button---bg--primary: #6bcb16; // #22ab34
$button---bg--primary-hover: #02b717; // #1f8d2c

$button---col--primary: #1a3f0c;

$url---col--primary: #ffffff;
$url---col--primary-hover: #03c023; //gold;

$url---col--secondary: #b5f37e;
$url---col--secondary-hover: #03c023;

$url---col--footer: #f5dd59;

// $body---bg--primary: #313131;

$breakpoint---lg: 860px;
$breakpoint---md: 768px;
$breakpoint---sm: 620px;
$breakpoint---xs: 480px;
$font---main: arial;